[submodule "hinta2017/reveal.js"]
	path = hinta2017/reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "bittologatok2018/reveal.js"]
	path = bittologatok2018/reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "karacsony2019/reveal.js"]
	path = karacsony2019/reveal.js
	url = https://github.com/hakimel/reveal.js.git
